.nav{
    background-color: #618C03;
    @apply px-2 sm:px-4 py-2.5 
}
.nav-position{
    @apply container flex flex-wrap justify-between items-center mx-auto
}

.buttons{
    background-color: #97BF04;
    @apply p-2 rounded-md hover:text-green-900 text-white
}

.buttons-red{
    background-color: #e74263;
    @apply p-2 rounded-md hover:text-red-900 text-white
}

.buttons-yellow{
    background-color: #f9c826;
    @apply p-2 rounded-md hover:text-yellow-900 text-white
}