.img{
    @apply object-cover object-center lg:h-96 md:h-80 h-72;
    width: 90%;
}

.precio{
    @apply mb-3 font-bold text-2xl  pt-4;
    color: #365902;
}

.cantidad{
    @apply  hover:bg-green-900 text-white text-lg font-bold py-2 lg:w-7/12 rounded;
    background: #618C03;
}

.cant{
    @apply  hover:bg-green-900 text-white text-lg font-bold py-2 lg:w-7/12 rounded;
    background: #618C03;
    text-align: center;
}

.numero{
    @apply  text-white text-lg font-bold py-2 lg:w-7/12 rounded;
    background: #618C03;
    text-align: center;
}

.contenedorf{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono" , monospace;
    font-weight: 600;
}

.contador{
    position: absolute;
    display: flex;
}

.my-input{
    -moz-appearance: textfield;
    text-align: center;
    font-size: 35px;
    background-color: #97BF04;
    color: white;
    border: none;
}
.my-input::-webkit-outer-spin-button,
.my-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.decrement , .increment{
    background-color: #97BF04;
    color: white;
    font-size: 35px;
    border: none;
    cursor: pointer;
}

.decrement{
    padding: 15px 5px 15px 25px;
    border-radius: 45px 0 0 45px;
}

.increment{
    padding: 15px 25px 15px 5px;
    border-radius: 0 45px 45px 0;
}